@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Unbounded:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.truncate-multiline {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Количество строк для усечения */
  -webkit-box-orient: vertical;
}
